h1#name {
    color: hotpink;
    /*border-bottom: 10px dotted purple;*/
    border-bottom-width: 10px;
    border-bottom-style: dotted;
    border-bottom-color: purple;
}

h2#contact-information {
    font-style: italic;
}

ul {
    background-color: #eeeeee;
    border: 5px solid purple;
    padding: 25px;
}

.job-title {
    font-weight: bold;
    color: darkgray;
}

a:hover {
    color: green;
}